.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.detailsContainer{
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: whitesmoke;
  justify-content: space-between;
  padding: 5vw;
}

.countryCcolumn{
  display: flex;
  flex-direction: column;
}
li{
  list-style: none;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px; 
}
li:hover {
  background-color: #c6c6c6;
}

li a {
  text-decoration: none;
  color: #000;
  border-radius: 4px;
}
.darkcontainer{
  background-color: #282c34;
}

